* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Quicksand", sans-serif;
  src: url(href="https://fonts.googleapis.com/css2?family=Hind&family=Inter&family=Joan&family=Merriweather+Sans&family=Nunito:wght@500&family=Patrick+Hand+SC&family=Quicksand:wght@500;700&display=swap"rel="stylesheet");
}
.logo {
  width: 105px;
  height: 105px;
  display: flex;
  position: relative;
  left: 20px;
  top: 1px;
  border-radius: 100px;
  background-color: transparent;
}
header {
  background: fixed;
  background-color: #fdfd96;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  width: 100%;
  top: 0;
}
.container {
  font-family: "Quicksand", sans-serif;
  src: url(href="https://fonts.googleapis.com/css2?family=Hind&family=Inter&family=Joan&family=Merriweather+Sans&family=Nunito:wght@500&family=Patrick+Hand+SC&family=Quicksand:wght@500;700&display=swap"rel="stylesheet");
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
  list-style: none;
}
.container i {
  font-size: 2rem;
  color: black;
}
.nav-enlace:hover {
  background: rgb(255, 255, 255);
  text-decoration: none;
}
.nav-enlace {
  text-decoration: none;
}
.fondo {
  margin: 10px;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
  float: center;
}
.titulo1 {
  padding-left: 8%;
  padding-top: 100px;
  font-size: 33px;
  font-family: "Quicksand", sans-serif;
}
.frase {
  margin: 40px 0;
  padding-left: 8%;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}
.giro {
  background-image: url("flat-lay-of-toys-with-food-bowl-and-fur-brush-for-dogs\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  padding-top: 100px;
}
.boton {
  display: inline-block;
  padding: 15px 15px;
  position: absolute;
  top: 350px;
  left: 330px;
  text-decoration: none;
  border-radius: 5px;
  color: black;
  background-color: #fdfd96;
  font-family: "Joan", serif;
}
.boton:hover {
  background: rgb(255, 255, 255);
}
.container2 {
  background-color: #fdfd96;
  display: table-cell;
  padding: 35px;
  text-align: center;
  line-height: 1cm;
  font-family: "Quicksand", sans-serif;
}
.titulo {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}
.logo2 {
  float: left;
  left: 10px;
}
/*section cards*/
.card__container {
  display: flex;
  justify-content: space-evenly;
}
.info-card {
  width: 40%;
  margin-bottom: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 25%;
  margin: 3rem 0;
  padding: 2rem;
  box-shadow: 0 0 1rem #000000;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.card p {
  max-width: 300px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
}
/*footer*/
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  list-style: none;
  text-decoration: none;
}
.main-content {
  display: flex;
  justify-content: space-evenly;
  background-color: #fdfd96;
  font-size: 1.1rem;
  line-height: 1cm;
  font-family: "Quicksand", sans-serif;
}
ul {
  list-style: none;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 25px;
}

.place1 a {
  margin: 8px;
  line-height: 40px;
  text-align: center;
  justify-content: space-evenly;
  font-size: 25px;
  text-decoration: none;
}
.derecho {
  text-align: center;
  color: white;
  margin: 0;
  padding: 1rem 0;
  background-color: rgb(0, 0, 0);
}
/*media responsive*/
@media screen (max-width: 992px) {
}
@media screen (max-width: 768px) {
}
@media screen (max-width: 575px) {
}
